$colors: (
  navColor:#231F20, //zeus
  backgroundColor: #efefef,
  linkHoverColor :  #6e640580,
  headingColor: #9ca9ab,
  textColor: #000000,
);
$fonts: (
  heading: BickhamScriptPro,
  subHeading: CormorantGaramond,
  normalText: SourceSansPro,
);
